.popup__container {
    position: relative;
    max-width: 430px;
    background-color: white;
    border-radius: 10px;
    align-self: center;
    margin: auto;
}

@media screen and (max-width:320px) {
    .popup__container {
        position: relative; 
        max-width: 282px;
    }
}