.header {
    position: relative;
    padding-top: 45px;
    border-bottom: 1px solid #545454;
    max-width: 880px;
    margin: auto;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

@media screen and (max-width:930px) {
    .header {
        margin: auto;
        margin-bottom: 30px;
        padding-left: 36px;
    }
}

@media screen and (max-width:320px) {
    .header {
        margin: 0;
        max-width: 320px;
        height: 56px;
        padding-left: 27px;
        margin-bottom: 40px;
        padding-bottom: 0;
    }
}