.popup__close-icon {
    position: absolute;
    background-image: url(../../../images/close-icon.png);
    background-repeat: no-repeat;
    background-color:rgba(0, 0, 0, 0);
    background-size: contain;
    left: 436px;
    top: -40px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border: 0;
}

.popup__close-icon:hover {
    opacity: 0.8;
}

@media screen and (max-width:520px) {
    .popup__close-icon {
        left: 400px;
    }
}

@media screen and (max-width:450px) {
    .popup__close-icon {
        left: 395px;
    }
}

@media screen and (max-width:450px) {
    .popup__close-icon {
        left: 300px;
    }
}

@media screen and (max-width:350px) {
    .popup__close-icon {
        left: 250px;
    }
}

@media screen and (max-width:320px) {
    .popup__close-icon {
        width: 22px;
        left: 260px;
    }
}