.profile__info {
    color: white;
    margin: auto 0;
    margin-left: 30px;
}

@media screen and (max-width:768px) {
    .profile__info {
        margin-left: 10px;
    }
}

@media screen and (max-width:320px) {
    .profile__info {
        margin: 0;
        text-align: center;
    }
}