.elements__container {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px 23px 21px;
}

@media screen and (max-width:320px) {
    .elements__container {
        padding: 20px 15px 17px 21px;
    }
}