.elements__item {
    background-color: white;
    border-radius:  10px 10px 10px 10px;
    box-sizing: border-box;
    position: relative;
    justify-content: space-between;
}

@media screen and (max-width:320px) {
    .elements__item:first-of-type {
        margin-top: 40px;
    }
}